body{
    background-color: gray;
}
img{
    display: block;
    width: 800px;
    height: 200px;
}
#Content{
    width: 800px;
    height: 525px;
    margin: 0 auto;
}
#header{

}
#menu{
    text-align: center;
    background-color: rgb(223, 188, 145);
    width: 800px;
    height: 50px;
    margin: -20px 0 0 0;
}
#body{
    text-align: center;
    background-color: white;
    width: 800px;
    height: 300px;
}
#footer{
    text-align: center;
    background-color: rgb(80, 80, 80);
    width: 800px;
    height: 25px;
}
li{
    display: inline-block;
    margin: 30px 20px 0 0;
    list-style: none;
}
center{
    padding: 10px 0 0 0;
    font-size: 40px;
    font-weight: bold;
}
p{
    font-size: 20px;
    padding: 0 80px 0 80px;
}
button{
    padding: 10px;
    background-color: rgb(173, 173, 173);
    color:white;
    border: 0;
}