

  #wrap{
    background: #AAAAAA	;
    height:800px;
  }

  
  .photo{
    margin:0px 400px 0px 400px;
  }

  #tag{
    margin:-20px 400px 0px 400px; 
    text-align:center;
    width:600px; 
    height:40px;
    background: #dddddd;;
   }
  
   ul li
   { 
     font-size:20px;
     padding:15px 10px;
    display: inline-block;
   }

   
   #content
   {
      background: white;
      margin:-20px 400px 0px 400px;
      text-align:center; 
      width:600px;
      height:200px;
   }

   button { 
    border: none;
    background-color: 	#0000FF;
    color: white;
    width: 100px;
    
}

  